<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet" type="text/css">
        <link  href="/static/style1.css" rel="stylesheet">
        {% if title %}
        <title>Covid-19 Data Visualisation-{{title}}</title>
    
        {% else %}
        <title>Covid-19 Data Visualisation</title>
        {% endif %}
    </head>
    
<body>
      <header class="header">
        <div class="container">
           <div class="row align-items-center justify-content-between">
              <div class="logo">
                 <a href="/">Covid-19</a>
              </div>
              <button type="button" class="nav-toggler">
                 <span></span>
              </button>
              <nav class="nav">
                 <ul>
                    <li><a href="/" class="active">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/Analytics">Analytics</a></li>
                    
                    
                 </ul>
              </nav>
           </div>
        </div>
     </header>

     <div class="container">
    <center>
      <table >
              <tr>
                  <td style="width: 400px; height: 25px; text-align: center;" colspan="2" ><strong>Guide</strong></td>
              </tr>
              <tr>
                  <td style="width: 400x; height: 25px;"><center><img src="/static/Tina_mam.jpg" alt="ashish" width="200px" style=""></center></td>
                </tr>
              <tr>
                <td style="width: 400px; height: 25px;"><center><h5>Prof. Tina D'Abreo<br>(Prof- Ai/Ds Dept)</h5></center></td>
            </tr>

        </table>
    </center>
          <br>
        <center>
          <table>
              
            <tr>
                <td style="width: 400px; height: 25px; text-align: center;" colspan="2"><strong>Working Team</strong></td>
            </tr>
            <tr>
                <td style="width: 400px; height: 200px;"><center><img src="/static/Adi.jpeg" alt="ashish" width="200px" style=""></center></td>
                <td style="width: 400px; height: 200px;"><center><img src="/static/Khushali.jpg" alt="ashish" width="150px" style=""></center></td>
                <td style="width: 400px; height: 200px;"><center><img src="/static/shreya.jpeg" alt="ashish" width="200px" style=""></center></td>  
            </tr>
            <tr>
                <td style="width: 400px; height: 25px;"><center><h5>Aditya Joshi<br>(Second year student)</h5></center></td>
                <td style="width: 400px; height: 25px;"><center><h5>Khushali Kaku<br>(Second year student)</h5></center></td>
                <td style="width: 400px; height: 25px;"><center><h5>Shreya Suvarna<br>(Second year student)</h5></center></td>
            </tr>
        </table>
        </center>
        
    </div> 
            
  
</body>